.contact-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .contact-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    label {
      input {
        border: 1px solid;
        border-radius: 10px;
        padding: 18px 50px 18px 12px;
      }

      input::placeholder {
        position: absolute;
        margin-top: -10px;
        font-size: 9pt;
        font-weight: 600;
        color: #7c0068;
      }

      textarea {
        border: 1px solid;
        border-radius: 10px;
      }

      textarea::placeholder {
        padding: 10px;
        font-size: 9pt;
        font-weight: 600;
        color: #7c0068;
      }
    }

    button {
      background-color: #7c0068;
      color: #fff;
      padding: 12px 0;
      border: none;
      border-radius: 10px;
    }
  }
}